<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

  <title>Dashboard Template for Bootstrap</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

  <!-- Bootstrap core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/dashboard.css" rel="stylesheet">
  <link href="https://canvasjs.com/assets/css/jquery-ui.1.11.2.min.css" rel="stylesheet" />
  <script>
    window.onload = function () {

      // Construct options first and then pass it as a parameter
      var options1 = {
        animationEnabled: true,
        title: {
          text: "Student Data"
        },
        data: [{
          type: "column", //change it to line, area, bar, pie, etc
          showInLegend: true,
          dataPoints: [{
              label: "January",
              y: 78
            },
            {
              label: "Feburary",
              y: 66
            },
            {
              label: "March",
              y: 64
            },
            {
              label: "April",
              y: 44
            },
            {
              label: "May",
              y: 30
            },
            {
              label: "June",
              y: 89
            },
            {
              label: "July",
              y: 88 
            },
            {
              label: "August",
              y: 89
            },
            {
              label: "September",
              y: 19
            }
          ]
        }]
      };

      $("#resizable").resizable({
        create: function (event, ui) {
          //Create chart.
          $("#chartContainer1").CanvasJSChart(options1);
        },
        resize: function (event, ui) {
          //Update chart size according to its container size.
          $("#chartContainer1").CanvasJSChart().render();
        }
      });

    }
  </script>
</head>

<body>
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="#">Sign out</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/templates/dashboard.html">
                <span data-feather="home"></span>
                Dashboard
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/templates/Classes.html">
                <span data-feather="file"></span>
                Classes
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/templates/Course_Work.html">
                <span data-feather="shopping-cart"></span>
                Coursework
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/templates/Students/Student-1.html">
                <span data-feather="users"></span>
                Students <span class="sr-only">(current)</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/templates/Action_plan.html">
                <span data-feather="layers"></span>
                Action Plans
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <!-- Main Content Starts Here-->


        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h1 class="h2">Students</h1>
        </div>

        <div class="container py-5">
          <div class="row">
            <div class="col-md-10 mx-auto">
              <form>

                <div class="form-group row">
                  <div class="col-sm-6">
                    <label for="inputFirstname">First name</label>
                    <input type="text" class="form-control" id="inputFirstname" placeholder="First name">
                  </div>

                  <div class="col-sm-6">
                    <label for="inputLastname">Last name</label>
                    <input type="text" class="form-control" id="inputLastname" placeholder="Last name">
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-6">
                    <label for="inputAddressLine1">Address</label>
                    <input type="text" class="form-control" id="inputAddressLine1" placeholder="Street Address">
                  </div>
                  <div class="col-sm-6">
                    <label for="inputAddressLine2">Address (Line 2)</label>
                    <input type="text" class="form-control" id="inputAddressLine2" placeholder="Line 2">
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-6">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity" placeholder="City">
                  </div>
                  <div class="col-sm-3">
                    <label for="inputState">State</label>
                    <input type="text" class="form-control" id="inputState" placeholder="State">
                  </div>
                  <div class="col-sm-3">
                    <label for="inputPostalCode">Postal Code</label>
                    <input type="text" class="form-control" id="inputPostalCode" placeholder="Postal Code">
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-6">
                    <label for="inputWebsite">Contact Number</label>
                    <input type="text" class="form-control" id="Contact Number" placeholder="Contact Number">
                  </div>
                  <div class="col-sm-6">
                    <label for="inputWebsite">Emergency Contact Number</label>
                    <input type="text" class="form-control" id="Emergency-Contact" placeholder="Emergency Number">
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-6">
                    <label for="medical">Allergies</label>
                    <input type="text" class="form-control" id="Allergies" placeholder="Type your Allergies">
                  </div>
                  <div class="col-sm-6">
                    <label for="inputWebsite">Website</label>
                    <input type="text" class="form-control" id="Website" placeholder="Website">
                  </div>
                </div>

                <button type="button" class="btn btn-primary px-4 float-right">Save</button>

              </form>
            </div>
          </div>
        </div>

        <div id="resizable" style="height: 370px;border:1px solid gray;">
          <div id="chartContainer1" style="height: 100%; width: 100%;"></div>
        </div>

      </main>

    </div>
  </div>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->

  <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
  <script src="https://canvasjs.com/assets/script/jquery-ui.1.11.2.min.js"></script>
  <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
  <!-- 
  <script src="/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/assets/vendor/chart.js/dist/Chart.extension.js"></script>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script>
    window.jQuery || document.write(
      '<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
  </script>
  <script src="https://unpkg.com/@popperjs/core@2"></script> -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
  </script>

  <!-- Icons -->
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  <script>
    feather.replace()
  </script>


</body>

</html>