<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/Frontend/static/dashboard.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Hello, Mr. X</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sign In</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/Frontend/templates/dashboard.html">
                                <span data-feather="home"></span>
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/Frontend/templates/Classes.html">
                                <span data-feather="file"></span>
                                Classes <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Frontend/templates/Course_Work.html">
                                <span data-feather="shopping-cart"></span>
                                Coursework
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Frontend/templates/Student_Page.html">
                                <span data-feather="users"></span>
                                Students
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/Frontend/templates/Action_plan.html">
                                <span data-feather="layers"></span>
                                Action Plans
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <!-- Main Content Starts Here-->

                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Schedule</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <button class="btn btn-sm btn-outline-secondary">Add Classes</button>
                        </div>
                    </div>
                </div>

                <!-- Cards for Subjects -->

                <div class="card-deck">

                    <div class="card">
                        <img class="card-img-top" src="/Frontend/Images/maths.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">2021 5th Grade 9:00AM</h5>
                            <p class="card-text">Math</p>
                        </div>
                        <div class="card-footer">
                            <a href="/Frontend/templates/Classrooms/Math_Details.html">
                                <small class="text-muted">
                                    Class Details</small>
                            </a>
                        </div>
                    </div>


                    <div class="card">
                        <img class="card-img-top" src="/Frontend/Images/Biology.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">2021 5th Grade 10:00AM</h5>
                            <p class="card-text">Biology</p>
                        </div>
                        <div class="card-footer">
                            <a href="#">
                                <small class="text-muted">
                                    Class Details</small>
                            </a>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="/Frontend/Images/maths.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">2021 5th Grade 11:00AM</h5>
                            <p class="card-text">Math</p>
                        </div>
                        <div class="card-footer">
                            <a href="#">
                                <small class="text-muted">
                                    Class Details</small>
                            </a>
                        </div>
                    </div>
                </div>

                <br><br>


                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src="/Frontend/Images/french.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">2021 5th Grade 12:00PM</h5>
                            <p class="card-text">French</p>
                        </div>
                        <div class="card-footer">
                            <a href="#">
                                <small class="text-muted">
                                    Class Details</small>
                            </a>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="/Frontend/Images/Spanish.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">2021 5th Grade 1:00PM</h5>
                            <p class="card-text">Spanish</p>
                        </div>
                        <div class="card-footer">
                            <a href="#">
                                <small class="text-muted">
                                    Class Details</small>
                            </a>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="/Frontend/Images/History.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">2021 5th Grade 2:00PM</h5>
                            <p class="card-text">History</p>
                        </div>
                        <div class="card-footer">
                            <a href="#">
                                <small class="text-muted">
                                    Class Details</small>
                            </a>
                        </div>
                    </div>

                </div>
                <br><br>


                <!-- Main Content Ends Here-->
            </main>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script>
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
    </script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>


</body>

</html>