<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/dashboard.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Hello, Mr. Kimmel</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sign out</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/templates/dashboard.html">
                                <span data-feather="home"></span>
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/templates/Classes.html">
                                <span data-feather="file"></span>
                                Classes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/templates/Course_Work.html">
                                <span data-feather="shopping-cart"></span>
                                Coursework <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/templates/Students/Student-1.html">
                                <span data-feather="users"></span>
                                Students
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/templates/Action_plan.html">
                                <span data-feather="layers"></span>
                                Action Plans
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md- ml-sm-auto col-lg-10 pt-3 px-4">
                <!-- Main Content Starts Here-->

                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <table class="table table-bordered table-hover" id="tab_logic">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            #
                                        </th>
                                        <th class="text-center">
                                            Name
                                        </th>
                                        <th class="text-center">
                                            Assignment
                                        </th>
                                        <th class="text-center">
                                            Quiz
                                        </th>
                                        <th class="text-center">
                                            Final Exams
                                        </th>
                                        <th class="text-center">
                                            Subject
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="addr0">
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            <input type="text" name="Name" placeholder="Name" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" name="assignment" placeholder="assignment"
                                                class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" name="Quiz" placeholder="Quiz" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" name="Final_Exam" placeholder="Final_Exam"
                                                class="form-control" />
                                        </td>
                                        <td>
                                            <select type="text" placeholder="Final_Exam" class="form-control"
                                                name="Subject" id="cars">
                                                <option value="volvo">Maths</option>
                                                <option value="saab">English</option>
                                                <option value="saab">Soft-Skills</option>
                                                <option value="saab">Biology</option>
                                                <option value="saab">History</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr id="addr1"></tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <a id="add_row" class="btn btn-default pull-left">Add Row</a> <a id="delete_row"
                        class="pull-right btn btn-default">Delete Row</a>
                </div>
            </main>

        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
        window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
    </script>

    <script src="https://unpkg.com/@popperjs/core@2"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>


    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>

    <script>
        $(document).ready(function () {
            var i = 1;
            $("#add_row").click(function () {
                $('#addr' + i).html("<td>" + (i + 1) + "</td><td><input name='name" + i +
                    "' type='text' placeholder='Name' class='form-control input-md'  /> </td> <td><input  name='assignment" +
                    i +
                    "' type='text' placeholder='Assignment'  class='form-control input-md'></td> <td><input  name='Quiz" +
                    i +
                    "' type='text' placeholder='Quiz'  class='form-control input-md'></td> <td><input  name='Final_Exam" +
                    i +
                    "' type='text' placeholder='Final_Exam'  class='form-control input-md'></td> <td><input  name='Subject" +
                    i + "' type='text' placeholder='Subject'  class='form-control input-md'></td>");

                $('#tab_logic').append('<tr id="addr' + (i + 1) + '"></tr>');
                i++;
            });
            $("#delete_row").click(function () {
                if (i > 1) {
                    $("#addr" + (i - 1)).html('');
                    i--;
                }
            });

        });
    </script>


</body>

</html>